.Mission {
  text-align: center;
  font-size: 2.5vh;
  padding: 2em;
  width: 60%;
  margin: auto;
  display: flex;
  font-weight: 100;
  align-items: center;
}

.Mission img {
  width: 90%;
}

@media (max-width: 1200px) {
  .Mission {
    flex-direction: column;
  }
}
